Package: __PACKAGE__
Version: __VERSION__
Section: base
Priority: Optional
Architecture: amd64
Depends: runit
Maintainer: appsplat-team@ooyala.com
Description: Atlantis Router
 This is atlantis-router.
